@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: futura-pt, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  button:active,
  button:focus {
    outline: none;
    border: none;
  }
}

@layer components {
  .page {
    height: 100vh;
    @apply px-4;
  }
  .page-content {
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
  }
  .nav-link {
    @apply font-medium mr-3 relative;
  }
  .nav-link-active::after {
    content: "";
    @apply absolute border-t-2 border-black w-full left-0 -bottom-1 animate-fade-in duration-500;
  }
}

@layer utilities {
  .fill {
    @apply min-h-full min-w-full;
  }
}
