@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* TODO - no font smoothing on book? */
  * {
    font-family: futura-pt, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  button:active,
  button:focus {
    outline: none;
    border: none;
  }
  .theme-family-baskerville,
  .theme-family-baskerville > * {
    font-family: baskerville-display-pt, serif !important;
  }
  .theme-family-museo,
  .theme-family-museo > * {
    font-family: museo-sans, sans-serif !important;
  }
  .theme-family-futura,
  .theme-family-futura > * {
    font-family: futura-pt, sans-serif !important;
  }
  .theme-family-garamond,
  .theme-family-garamond > * {
    font-family: adobe-garamond-pro, serif !important;
  }
  .content-editable:focus {
    outline: none;
  }
  .content-editable[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #cac7c7;
    /* font-family: futura-pt, sans-serif; */
  }
}

@layer utilities {
  .fill {
    @apply min-h-full min-w-full;
  }
}

@layer components {
  .page {
    height: 100vh;
    @apply px-4;
  }
  .page-content {
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
  }
  .nav-link {
    @apply font-medium mx-3 relative block text-center;
  }
  .nav-link-active::after {
    content: "";
    @apply absolute border-t-2 border-black w-full left-0 -bottom-0 animate-fade-in duration-500;
  }
  .input {
    max-width: 40rem;
    @apply outline-none bg-lightestGray p-3 rounded w-full text-xl border border-transparent transition duration-200 ease-in;
  }

  .input--compact {
    max-width: 40rem;
    @apply outline-none bg-lightestGray py-1.5 px-2 text-base rounded w-full border border-transparent transition duration-200 ease-in;
  }

  .select option:disabled {
    @apply text-lightGray;
  }

  .input-error {
    @apply border border-red transition duration-200 ease-out;
  }

  .form-control {
    @apply mb-6 flex flex-col;
  }

  .modal-title {
    @apply text-2xl mb-6;
  }

  /* Uppy */
  .uppy-Dashboard-inner {
    @apply border border-transparent transition duration-200 ease-in;
  }
  .uppy-validate-error .uppy-Dashboard-inner {
    @apply border border-red transition duration-200 ease-out;
  }

  /* React datepicker */
  .react-datepicker-wrapper input {
    max-width: 13rem;
    @apply outline-none bg-lightestGray p-3 rounded w-full text-xl;
  }

  #root .react-datepicker {
    @apply shadow-xl border-none;
  }

  #root .react-datepicker__navigation-icon::before {
    top: 12px;
  }

  #root .react-datepicker__header {
    @apply bg-lightestGray pb-4 shadow border-none;
  }

  #root .react-datepicker__day--selected,
  #root .react-datepicker__day--in-selecting-range,
  #root .react-datepicker__day--in-range,
  #root .react-datepicker__month-text--selected,
  #root .react-datepicker__month-text--in-selecting-range,
  #root .react-datepicker__month-text--in-range,
  #root .react-datepicker__quarter-text--selected,
  #root .react-datepicker__quarter-text--in-selecting-range,
  #root .react-datepicker__quarter-text--in-range,
  #root .react-datepicker__year-text--selected,
  #root .react-datepicker__year-text--in-selecting-range,
  #root .react-datepicker__year-text--in-range {
    @apply bg-black font-medium;
  }

  #root .react-datepicker__day--keyboard-selected,
  #root .react-datepicker__month-text--keyboard-selected,
  #root .react-datepicker__quarter-text--keyboard-selected,
  #root .react-datepicker__year-text--keyboard-selected {
    @apply bg-darkGray font-medium;
  }

  #root .react-datepicker__triangle {
    @apply hidden;
  }

  .widget-callout {
    height: 2px;
    background-color: black;
  }

  .widget-callout::after {
    content: "";
    position: absolute;
    top: 0;
    width: 2px;
    height: 10px;
    background-color: black;
  }
  .widget-callout::before {
    content: "";
    position: absolute;
    top: 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: black transparent transparent transparent;
  }

  .widget-callout--before::after {
    left: calc(100% - 2px);
  }
  .widget-callout--after::after {
    left: 0;
  }

  .widget-callout--before::before {
    left: calc(100% - 6px);
  }
  .widget-callout--after::before {
    left: -4px;
  }
}

#page[class*="tutorial-step"] > * {
  pointer-events: none;
}

#page {
  transition: filter 200ms ease-in;
}

#page.tutorial-step-1,
#page.tutorial-step-24,
#page.blur {
  filter: blur(4px) grayscale(0.4);
  transition: filter 200ms ease-out;
}

#page.tutorial-step-4 #shuffle-button-wrapper,
#page.tutorial-step-4 #menu {
  pointer-events: all !important;
}

#page.tutorial-step-5 #form-question-text-input,
#page.tutorial-step-5 #shuffle-button-wrapper,
#page.tutorial-step-5 #menu {
  pointer-events: all !important;
}

/* Memory form */
#page.tutorial-step-6 #form-text-editor,
#page.tutorial-step-6 #form-datepicker,
#page.tutorial-step-6 .react-datepicker__tab-loop * {
  pointer-events: all !important;
}

#page.tutorial-step-7 #form-text-editor,
#page.tutorial-step-7 #form-submit-btn,
#page.tutorial-step-7 #form-datepicker,
#page.tutorial-step-7 .react-datepicker__tab-loop * {
  pointer-events: all !important;
}

#page.tutorial-step-10 #section-actions-event {
  pointer-events: all !important;
}

/* Event form */
#page.tutorial-step-11 #form-text-input,
#page.tutorial-step-11 #form-submit-btn,
#page.tutorial-step-11 #form-datepicker,
#page.tutorial-step-11 .react-datepicker__tab-loop * {
  pointer-events: all !important;
}

#page.tutorial-step-14 #section-actions-photo {
  pointer-events: all !important;
}

#page.tutorial-step-15 #uppy-dashboard,
#page.tutorial-step-15 #form-text-input,
#page.tutorial-step-15 #form-submit-btn,
#page.tutorial-step-15 #form-datepicker,
#page.tutorial-step-15 .react-datepicker__tab-loop * {
  pointer-events: all !important;
}

#page.tutorial-step-16 #show-preview-btn {
  pointer-events: all !important;
}

#page.tutorial-step-18 #section-actions-chapter {
  pointer-events: all !important;
}

#page.tutorial-step-19 #form-text-input,
#page.tutorial-step-19 #form-submit-btn,
#page.tutorial-step-19 #form-datepicker,
#page.tutorial-step-19 .react-datepicker__tab-loop * {
  pointer-events: all !important;
}

#page.tutorial-step-20 #preview-container {
  pointer-events: all !important;
}

#page.tutorial-step-21 #menu button * {
  pointer-events: none !important;
}

#page.tutorial-step-22 #privacy-fragment-btn {
  pointer-events: all !important;
}

#page.tutorial-step-23 #preview-container {
  pointer-events: all !important;
}

.user-details-form input {
  max-width: none;
  width: 100%;
}

/* Input range styles */
input[type="range"] {
  @apply appearance-none w-full bg-transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none h-5 w-5 bg-white cursor-pointer -mt-1.5 shadow-lg;
  border-radius: 50%;
  border: 3px solid black;
}

input[type="range"]::-webkit-slider-runnable-track {
  @apply w-full h-2 cursor-pointer bg-lightestGray rounded;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  @apply bg-lightGray;
}
