@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: futura-pt, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  button:active,
  button:focus {
    outline: none;
    border: none;
  }
}

@layer utilities {
  .fill {
    @apply min-h-full min-w-full;
  }
}

@layer components {
  .page {
    height: 100vh;
    @apply px-4;
  }
  .page-content {
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
  }
  .nav-link {
    @apply font-medium mr-3 relative;
  }
  .nav-link-active::after {
    content: "";
    @apply absolute border-t-2 border-black w-full left-0 -bottom-1 animate-fade-in duration-500;
  }
  .input {
    max-width: 40rem;
    @apply outline-none bg-lightestGray p-3 rounded w-full text-xl;
  }
  .form-control {
    @apply mb-6 flex flex-col;
  }

  .modal-title {
    @apply text-2xl mb-6;
  }

  /* React datepicker */
  .react-datepicker-wrapper input {
    max-width: 13rem;
    @apply outline-none bg-lightestGray p-3 rounded w-full text-xl;
  }

  #page .react-datepicker {
    @apply shadow-xl border-none;
  }

  #page .react-datepicker__navigation-icon::before {
    top: 12px;
  }

  #page .react-datepicker__header {
    @apply bg-lightestGray pb-4 shadow border-none;
  }

  #page .react-datepicker__day--selected,
  #page .react-datepicker__day--in-selecting-range,
  #page .react-datepicker__day--in-range,
  #page .react-datepicker__month-text--selected,
  #page .react-datepicker__month-text--in-selecting-range,
  #page .react-datepicker__month-text--in-range,
  #page .react-datepicker__quarter-text--selected,
  #page .react-datepicker__quarter-text--in-selecting-range,
  #page .react-datepicker__quarter-text--in-range,
  #page .react-datepicker__year-text--selected,
  #page .react-datepicker__year-text--in-selecting-range,
  #page .react-datepicker__year-text--in-range {
    @apply bg-black font-medium;
  }

  #page .react-datepicker__day--keyboard-selected,
  #page .react-datepicker__month-text--keyboard-selected,
  #page .react-datepicker__quarter-text--keyboard-selected,
  #page .react-datepicker__year-text--keyboard-selected {
    @apply bg-darkGray font-medium;
  }

  #page .react-datepicker__triangle {
    @apply hidden;
  }
}
